// Place all the styles related to the Wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	height: 100%;
	background-image: url(image-path("weinberg.jpg"))
}


h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p  {
  color: black;
  font-family: verdana;
  #font-size: 160%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td.label {
	
	padding: 0;
}


a {
  color: #00f;

  &:visited {
    color: #9933ff;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

img.thumb {
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
}